*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd
/output
/simWorkspace


simWorkspace/
tmp/
null
/output/
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/.vivado.begin.rst
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/.vivado.end.rst
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/.Vivado_Synthesis.queue.rst
/src/main/resources/16bitsCostLUT.dat
/src/main/resources/16bitsOnePathLUT.dat
/src/main/resources/16bitsPathLUT.dat
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/__synthesis_is_complete__
/BigMult.sv
/BigMultiplier.sv
/src/main/scala/FTN/Matlab/data/bitAlloc.mat
/src/main/scala/FTN/Matlab/data/bits.mat
/BubbleExample.sv
/Buffer_1.sv
/src/main/scala/FTN/Matlab/data/convCodedBits.mat
/src/main/scala/FTN/Matlab/data/deinterleaved.mat
/src/main/scala/FTN/Matlab/data/demodulated.mat
/Draft.sv
/lib/engine.jar
/src/main/scala/FTN/Matlab/data/FDE.mat
/FIFO.sv
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.srcs/sources_1/imports/build/flopoco.vhdl
/FrameBuffer.sv
/FrameBuffer.sv_toplevel_ROMS_0.bin
/FrameBuffer.sv_toplevel_ROMS_1.bin
/FrameBuffer.sv_toplevel_ROMS_2.bin
/FrameBuffer.sv_toplevel_ROMS_3.bin
/FrameBuffer.sv_toplevel_ROMS_4.bin
/FrameBuffer.sv_toplevel_ROMS_5.bin
/FrameBuffer.sv_toplevel_ROMS_6.bin
/FrameBuffer.sv_toplevel_ROMS_7.bin
/FrameBuffer.sv_toplevel_ROMS_8.bin
/FrameBuffer.sv_toplevel_ROMS_9.bin
/FrameBuffer.v_toplevel_ROMS_0.bin
/FrameBuffer.v_toplevel_ROMS_1.bin
/FrameBuffer.v_toplevel_ROMS_2.bin
/FrameBuffer.v_toplevel_ROMS_3.bin
/FrameBuffer.v_toplevel_ROMS_4.bin
/FrameBuffer.v_toplevel_ROMS_5.bin
/FrameBuffer.v_toplevel_ROMS_6.bin
/FrameBuffer.v_toplevel_ROMS_7.bin
/FrameBuffer.v_toplevel_ROMS_8.bin
/FrameBuffer.v_toplevel_ROMS_9.bin
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/gen_run.xml
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/gui_handlers.wdf
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/htr.txt
/tempRTL/IntConstMult_15_15_F400_uid2.vhdl
/tempRTL/IntConstMult_15_16_F400_uid2.vhdl
/tempRTL/IntConstMult_15_17_F400_uid2.vhdl
/tempRTL/IntConstMult_15_31_F400_uid2.vhdl
/tempRTL/IntConstMult_15_44_F400_uid2.vhdl
/tempRTL/IntConstMult_15_85_F400_uid2.vhdl
/tempRTL/IntConstMult_15_2904_F400_uid2.vhdl
/tempRTL/IntConstMult_15_8240_F400_uid2.vhdl
/tempRTL/IntConstMult_15_9801_F400_uid2.vhdl
/tempRTL/IntConstMult_15_12571_F400_uid2.vhdl
/tempRTL/IntConstMult_15_13787_F400_uid2.vhdl
/tempRTL/IntConstMult_15_14334_F400_uid2.vhdl
/tempRTL/IntConstMult_15_21050_F400_uid2.vhdl
/tempRTL/IntConstMult_15_21147_F400_uid2.vhdl
/tempRTL/IntConstMult_15_23771_F400_uid2.vhdl
/tempRTL/IntConstMult_15_23944_F400_uid2.vhdl
/tempRTL/IntConstMult_15_35766_F400_uid2.vhdl
/tempRTL/IntConstMult_15_39469_F400_uid2.vhdl
/tempRTL/IntConstMult_15_39596_F400_uid2.vhdl
/tempRTL/IntConstMult_15_39838_F400_uid2.vhdl
/tempRTL/IntConstMult_15_41594_F400_uid2.vhdl
/tempRTL/IntConstMult_15_45149_F400_uid2.vhdl
/tempRTL/IntConstMult_15_46502_F400_uid2.vhdl
/tempRTL/IntConstMult_15_46999_F400_uid2.vhdl
/tempRTL/IntConstMult_15_49482_F400_uid2.vhdl
/tempRTL/IntConstMult_15_51374_F400_uid2.vhdl
/tempRTL/IntConstMult_15_52192_F400_uid2.vhdl
/tempRTL/IntConstMult_15_54993_F400_uid2.vhdl
/tempRTL/IntConstMult_15_57551_F400_uid2.vhdl
/tempRTL/IntConstMult_15_65713_F400_uid2.vhdl
/tempRTL/IntConstMult_15_71876_F400_uid2.vhdl
/tempRTL/IntConstMult_15_72289_F400_uid2.vhdl
/tempRTL/IntConstMult_15_72638_F400_uid2.vhdl
/tempRTL/IntConstMult_15_73554_F400_uid2.vhdl
/tempRTL/IntConstMult_15_76460_F400_uid2.vhdl
/tempRTL/IntConstMult_15_80932_F400_uid2.vhdl
/tempRTL/IntConstMult_15_82981_F400_uid2.vhdl
/tempRTL/IntConstMult_15_88689_F400_uid2.vhdl
/tempRTL/IntConstMult_15_90398_F400_uid2.vhdl
/tempRTL/IntConstMult_15_93830_F400_uid2.vhdl
/tempRTL/IntConstMult_15_94442_F400_uid2.vhdl
/tempRTL/IntConstMult_15_95365_F400_uid2.vhdl
/tempRTL/IntConstMult_15_95728_F400_uid2.vhdl
/tempRTL/IntConstMult_15_96678_F400_uid2.vhdl
/tempRTL/IntConstMult_15_96766_F400_uid2.vhdl
/tempRTL/IntConstMult_15_99206_F400_uid2.vhdl
/tempRTL/IntConstMult_15_100049_F400_uid2.vhdl
/tempRTL/IntConstMult_15_101340_F400_uid2.vhdl
/tempRTL/IntConstMult_15_109498_F400_uid2.vhdl
/tempRTL/IntConstMult_15_113947_F400_uid2.vhdl
/tempRTL/IntConstMult_15_114372_F400_uid2.vhdl
/tempRTL/IntConstMult_15_114427_F400_uid2.vhdl
/tempRTL/IntConstMult_15_115294_F400_uid2.vhdl
/tempRTL/IntConstMult_15_118298_F400_uid2.vhdl
/tempRTL/IntConstMult_15_119886_F400_uid2.vhdl
/tempRTL/IntConstMult_15_120670_F400_uid2.vhdl
/tempRTL/IntConstMult_15_121548_F400_uid2.vhdl
/tempRTL/IntConstMult_15_122955_F400_uid2.vhdl
/tempRTL/IntConstMult_15_123916_F400_uid2.vhdl
/tempRTL/IntConstMult_15_125983_F400_uid2.vhdl
/tempRTL/IntConstMult_15_126181_F400_uid2.vhdl
/tempRTL/IntConstMult_15_127560_F400_uid2.vhdl
/tempRTL/IntConstMult_15_139728_F400_uid2.vhdl
/tempRTL/IntConstMult_15_143701_F400_uid2.vhdl
/tempRTL/IntConstMult_15_143902_F400_uid2.vhdl
/tempRTL/IntConstMult_15_149698_F400_uid2.vhdl
/tempRTL/IntConstMult_15_152054_F400_uid2.vhdl
/tempRTL/IntConstMult_15_153994_F400_uid2.vhdl
/tempRTL/IntConstMult_15_155809_F400_uid2.vhdl
/tempRTL/IntConstMult_15_156211_F400_uid2.vhdl
/tempRTL/IntConstMult_15_165516_F400_uid2.vhdl
/tempRTL/IntConstMult_15_166896_F400_uid2.vhdl
/tempRTL/IntConstMult_15_168725_F400_uid2.vhdl
/tempRTL/IntConstMult_15_170081_F400_uid2.vhdl
/tempRTL/IntConstMult_15_174473_F400_uid2.vhdl
/tempRTL/IntConstMult_15_179106_F400_uid2.vhdl
/tempRTL/IntConstMult_15_180994_F400_uid2.vhdl
/tempRTL/IntConstMult_15_182448_F400_uid2.vhdl
/tempRTL/IntConstMult_15_185526_F400_uid2.vhdl
/tempRTL/IntConstMult_15_187019_F400_uid2.vhdl
/tempRTL/IntConstMult_15_190730_F400_uid2.vhdl
/tempRTL/IntConstMult_15_196587_F400_uid2.vhdl
/tempRTL/IntConstMult_15_196947_F400_uid2.vhdl
/tempRTL/IntConstMult_15_197269_F400_uid2.vhdl
/tempRTL/IntConstMult_15_199561_F400_uid2.vhdl
/tempRTL/IntConstMult_15_199781_F400_uid2.vhdl
/tempRTL/IntConstMult_15_201733_F400_uid2.vhdl
/tempRTL/IntConstMult_15_205237_F400_uid2.vhdl
/tempRTL/IntConstMult_15_206734_F400_uid2.vhdl
/tempRTL/IntConstMult_15_209270_F400_uid2.vhdl
/tempRTL/IntConstMult_15_209356_F400_uid2.vhdl
/tempRTL/IntConstMult_15_214384_F400_uid2.vhdl
/tempRTL/IntConstMult_15_215091_F400_uid2.vhdl
/tempRTL/IntConstMult_15_216525_F400_uid2.vhdl
/tempRTL/IntConstMult_15_216881_F400_uid2.vhdl
/tempRTL/IntConstMult_15_218597_F400_uid2.vhdl
/tempRTL/IntConstMult_15_226938_F400_uid2.vhdl
/tempRTL/IntConstMult_15_228974_F400_uid2.vhdl
/tempRTL/IntConstMult_15_236817_F400_uid2.vhdl
/tempRTL/IntConstMult_15_241000_F400_uid2.vhdl
/tempRTL/IntConstMult_15_243963_F400_uid2.vhdl
/tempRTL/IntConstMult_15_246962_F400_uid2.vhdl
/tempRTL/IntConstMult_15_249004_F400_uid2.vhdl
/tempRTL/IntConstMult_15_249285_F400_uid2.vhdl
/tempRTL/IntConstMult_15_252314_F400_uid2.vhdl
/tempRTL/IntConstMult_15_255341_F400_uid2.vhdl
/tempRTL/IntConstMult_15_261670_F400_uid2.vhdl
/tempRTL/IntConstMult_wIn_constant_F400_uid2.vhdl
/tempRTL/IntConstMult_wIn_n_F400_uid2.vhdl
/src/main/scala/FTN/Matlab/data/interleavedBits.mat
/src/main/scala/FTN/Matlab/Interleaver.m
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/ISEWrap.js
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/ISEWrap.sh
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/java_command_handlers.wdf
/src/main/scala/FTN/Matlab.zip
/MontExp.sv
/src/main/scala/FTN/Matlab/data/msgOFDMSymbols.mat
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.hw/mult64at40nm.lpr
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.xpr
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/myMult.dcp
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/myMult.tcl
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/myMult.vds
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/myMult_utilization_synth.pb
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/myMult_utilization_synth.rpt
/src/main/scala/FTN/Matlab/MyTx.m
/tempRTL/null_15_17_F400_uid2.vhdl
/tempRTL/null_wE_in_wF_in_wE_out_wF_out_constant_cst_width_F400_uid2.vhdl
/tempRTL/null_wIn_n_F400_uid2.vhdl
/src/main/scala/FTN/Matlab/data/OFDMSymbols.mat
/ParallelConvenc.sv
/ParallelFrontEnd.sv
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_0.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_1.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_2.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_3.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_4.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_5.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_6.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_7.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_8.bin
/ParallelFrontEnd.sv_toplevel_frameBuffer_1_ROMS_9.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_0.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_1.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_2.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_3.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_4.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_5.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_6.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_7.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_8.bin
/ParallelFrontEnd.v_toplevel_frameBuffer_1_ROMS_9.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_0.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_1.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_2.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_3.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_4.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_5.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_6.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_7.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_8.bin
/ParallelFrontEndSim.v_toplevel_frameBuffer_1_ROMS_9.bin
/PlayWithReal.sv
/src/main/scala/FTN/Matlab/data/powerAlloc.mat
/src/main/scala/FTN/Matlab/data/poweredMsgQAMSymbols.mat
/src/main/scala/FTN/Matlab/data/preambleOFDMSymbols.mat
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/project.wdf
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/project.wpc
/QammodDUT.sv
/src/main/scala/FTN/Matlab/data/QAMSymbols.mat
/src/main/scala/FTN/Matlab/data/recvBits.mat
/src/main/scala/FTN/Matlab/data/recvMsgOFDMSymbols.mat
/src/main/scala/FTN/Matlab/data/recvPreambleOFDMSymbols.mat
/src/main/scala/FTN/Matlab/data/recvPreambleQAMSymbols.mat
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/rundef.js
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/runme.bat
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/runme.sh
/src/main/scala/FTN/Matlab/SingleDynamicQamdemod.m
/src/main/scala/FTN/Matlab/SingleDynamicQammod.m
/subdivide.sv
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/synthesis.wdf
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/synthesis_details.wdf
/src/main/scala/FTN/Matlab/test.m
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/vivado.jou
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/synth_1/vivado.pb
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.runs/.jobs/vrs_config_1.xml
/synthWorkspace/mult64/mult64at40nm/mult64at40nm.cache/wt/webtalk_pa.xml
/src/main/scala/FTN/Matlab/data/convCodedBitsByHardware.mat
/synthWorkspace/temp/doit.tcl
/synthWorkspace/temp/doit.xdc
/DPRAM.sv
/DPRAM.sv_toplevel_memory.bin
/MontExpSystolic.sv
/MontExpSystolic.sv_toplevel_exponentWordRAM.bin
/MontExpSystolic.sv_toplevel_modulusWordRAM.bin
/MontExpSystolic.sv_toplevel_mWordRAM.bin
/MontExpSystolic.sv_toplevel_productRAMs_0.bin
/MontExpSystolic.sv_toplevel_productRAMs_1.bin
/MontExpSystolic.sv_toplevel_productRAMs_2.bin
/MontExpSystolic.sv_toplevel_productRAMs_3.bin
/MontExpSystolic.sv_toplevel_productRAMs_4.bin
/MontExpSystolic.sv_toplevel_productRAMs_5.bin
/MontExpSystolic.sv_toplevel_productRAMs_6.bin
/MontExpSystolic.sv_toplevel_productRAMs_7.bin
/MontExpSystolic.sv_toplevel_radixSquareWordRAM.bin
/MontExpSystolic.sv_toplevel_rSquareWordRAM.bin
/MontExpSystolic.v_toplevel_exponentWordRAM.bin
/MontExpSystolic.v_toplevel_modulusWordRAM.bin
/MontExpSystolic.v_toplevel_mWordRAM.bin
/MontExpSystolic.v_toplevel_productRAMs_0.bin
/MontExpSystolic.v_toplevel_productRAMs_1.bin
/MontExpSystolic.v_toplevel_productRAMs_2.bin
/MontExpSystolic.v_toplevel_productRAMs_3.bin
/MontExpSystolic.v_toplevel_productRAMs_4.bin
/MontExpSystolic.v_toplevel_productRAMs_5.bin
/MontExpSystolic.v_toplevel_productRAMs_6.bin
/MontExpSystolic.v_toplevel_productRAMs_7.bin
/MontExpSystolic.v_toplevel_radixSquareWordRAM.bin
/MontExpSystolic.v_toplevel_rSquareWordRAM.bin
/MontExpSystolic.v_toplevel_squareRAMs_0.bin
/MontExpSystolic.v_toplevel_squareRAMs_1.bin
/MontExpSystolic.v_toplevel_squareRAMs_2.bin
/MontExpSystolic.v_toplevel_squareRAMs_3.bin
/MontExpSystolic.v_toplevel_squareRAMs_4.bin
/MontExpSystolic.v_toplevel_squareRAMs_5.bin
/MontExpSystolic.v_toplevel_squareRAMs_6.bin
/MontExpSystolic.v_toplevel_squareRAMs_7.bin
/MontExpSystolic.v_toplevel_xMontRAMs_0.bin
/MontExpSystolic.v_toplevel_xMontRAMs_1.bin
/MontExpSystolic.v_toplevel_xMontRAMs_2.bin
/MontExpSystolic.v_toplevel_xMontRAMs_3.bin
/MontExpSystolic.v_toplevel_xMontRAMs_4.bin
/MontExpSystolic.v_toplevel_xMontRAMs_5.bin
/MontExpSystolic.v_toplevel_xMontRAMs_6.bin
/MontExpSystolic.v_toplevel_xMontRAMs_7.bin
/MontExpSystolic.v_toplevel_xWordRAMs_0.bin
/MontExpSystolic.v_toplevel_xWordRAMs_1.bin
/MontExpSystolic.v_toplevel_xWordRAMs_2.bin
/MontExpSystolic.v_toplevel_xWordRAMs_3.bin
/MontExpSystolic.v_toplevel_xWordRAMs_4.bin
/MontExpSystolic.v_toplevel_xWordRAMs_5.bin
/MontExpSystolic.v_toplevel_xWordRAMs_6.bin
/MontExpSystolic.v_toplevel_xWordRAMs_7.bin
/MontMulSystolicParallel.sv
/synthWorkspace/temp/temp.sv
/synthWorkspace/temp/temp_synth.dcp
/unamed.v_toplevel_exponentWordRAM.bin
/unamed.v_toplevel_mWordRAM.bin
/unamed.v_toplevel_rSquareWordRAM.bin
/unamed.v_toplevel_squareRAMs_0.bin
/unamed.v_toplevel_squareRAMs_1.bin
/unamed.v_toplevel_squareRAMs_2.bin
/unamed.v_toplevel_squareRAMs_3.bin
/unamed.v_toplevel_squareRAMs_4.bin
/unamed.v_toplevel_squareRAMs_5.bin
/unamed.v_toplevel_squareRAMs_6.bin
/unamed.v_toplevel_squareRAMs_7.bin
/vivado.jou
