*.class
*.log
*.bak

# sbt specific
.cache/
.history/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
*.vhd
*.v
*.cf
*.json
*.vcd

/simWorkspace
/tmp/
/synthWorkspace/
/elaboWorkspace/
/lib/numsca_2.12-0.1.5.jar
/unamed.v_toplevel__zz_1.bin
/unamed.v_toplevel__zz_2.bin
/unamed.v_toplevel__zz_3.bin
/unamed.v_toplevel__zz_4.bin
/unamed.v_toplevel__zz_6.bin
/unamed.v_toplevel__zz_7.bin
/unamed.v_toplevel__zz_10.bin
